TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [22]:
s1 = input("Enter a string:")

Enter a string: 10

In [23]:
s2=s1[-1::-1]
s2

'01'

2. Check if a string is a palindrome.

In [9]:
s3=input("Enter a string:")

Enter a string: 12345652

In [10]:
if (s3[-1::-1]==s3):
    print("it is a pallindrome")
else: print("Not a pallindrome")

Not a pallindrome

3. Convert a string to uppercase.

In [11]:
s4 = input("Enter a string:")

Enter a string: my name is khan

In [12]:
s5=s4.upper()
s5

'MY NAME IS KHAN'

4. Convert a string to lowercase.

In [13]:
s6 = input("Enter a string:")

Enter a string: MY NAME IS KHAN

In [14]:
s7=s6.lower()
s7

'my name is khan'

5. Count the number of vowels in a string.

6. Count the number of consonants in a string.( Both 5 and 6 solve together)

In [20]:
s8 = input("Enter a string:")

Enter a string: this is the best keyboard

In [21]:
vowels = 0
consonants=0
for i in s8 :
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowels+=1
    else:
        consonants+=1
print("Number of vowels are:")
print(vowels)
print("Number of consonants are:")
print(consonants)

Number of vowels are:
7
Number of consonants are:
18

7. Remove all whitespaces from a string.

In [22]:
s9=input("Enter a string:")

Enter a string: my name is new tata motors

In [25]:
s10= s9.replace(' ','')
s10

'mynameisnewtatamotors'

8. Find the length of a string without using the `len()` function.

In [26]:
s11=input("Enter a string:")

Enter a string: i am taking course from pwskills

In [29]:
count =0
for i in s11:
    count+=1
print(count)

32

9. Check if a string contains a specific word.

In [30]:
s12=input("Enter a string:")

Enter a string: technologies

In [34]:
word = input("Enter a word to check:")

Enter a word to check: no

In [35]:
if word in s12: print("Word is present")
else: print("Not present")

Word is present

10. Replace a word in a string with another word.

In [36]:
s13=input("Enter a string:")
word_replace =input("Enter a word to be replaced:")
word_replace_with= input("Enter a word to be replaced with")

Enter a string: technologies
Enter a word to be replaced: o
Enter a word to be replaced with a

In [38]:
s14= s13.replace(word_replace,word_replace_with)
s14

'technalagies'

11.Count the occurrences of a word in a string.

In [40]:
s14=input("Enter a string:")
word_occ= input("Enter word whose occurence to be counted:")

Enter a string: my name is mayank
Enter word whose occurence to be counted: a

In [43]:
print("Number of times word occured:" + str(s14.count(word_occ)))

Number of times word occured:3

12. Find the first occurrence of a word in a string.

In [8]:
s15=input("Enter a string:")
word_1occ= input("Enter word:")

Enter a string: newyork
Enter word: z

In [11]:
if word_1occ in s15:
    print("Word present at location: "+ str(s15.index(word_1occ)))
else:
    print("Word not present")

Word not present

13. Find the last occurrence of a word in a string.

In [13]:
s16=input("Enter a string:")
word_2occ= input("Enter word:")

Enter a string: telephonic conversations
Enter word: n

In [15]:
if word_2occ in s15:
    print("Word's last location: "+ str(s16.rfind(word_2occ)))
else:
    print("Word not present")

Word's last location: 22

14. Split a string into a list of words.

In [29]:
s17=input("Enter a string:")

Enter a string: telephone

In [32]:
l1=list(s17)
l1

['t', 'e', 'l', 'e', 'p', 'h', 'o', 'n', 'e']

15. Join a list of words into a string.

In [19]:
l2 =['t','w','i','l','i','g','h','t']

In [20]:
l2

['t', 'w', 'i', 'l', 'i', 'g', 'h', 't']

In [28]:
''.join(l2)

'twilight'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [33]:
s18=input("Enter a string:")

Enter a string: this is a sentence

In [34]:
s18= s18.replace(' ','_')
s18

'this_is_a_sentence'

17. Check if a string starts with a specific word or phrase.

In [3]:
s18=input("Enter a string:")
start_word= input("Enter word:")

Enter a string: my name is khan
Enter word: zom

In [4]:
if s18.startswith(start_word):
    print("Word starts with prefix")
else :
    print("Word does not start with prefix")

Word does not start with prefix,

18. Check if a string ends with a specific word or phrase.

In [5]:
s19=input("Enter a string:")
end_word= input("Enter word:")

Enter a string: my name is mayank
Enter word: k

In [6]:
if s19.endswith(end_word):
    print("Word end with suffix")
else:
    print("Word does not end with suffix")

Word end with suffix

19. Convert a string to title case

In [7]:
s20 = input("enter a string:")

enter a string: this is pwskills lab

In [8]:
s20=s20.title()
s20

'This Is Pwskills Lab'

20. Find the longest word in a string.

In [9]:
sentence = input("Enter a sentence:")

Enter a sentence: this is a telephonic conversation

In [20]:
max_length= 0
longest_word = ""
words = sentence.split()

for word in words:
    if len(word)>max_length:
        max_length = len(word)
        longest_word = word
print("Longest Word is :"+ longest_word)

Longest Word is :conversation

21. Find the shortest word in a string.

In [19]:
enter_string = input("Enter a sentence:")

Enter a sentence: this is a telephonic conversation

In [21]:
min_length = float('inf')
shortest_word = None
sht =enter_string.split()
for word in sht:
    if len(word)< min_length:
        min_length = len(word)
        shortest_word = word
print("shortest word is :"+ shortest_word)

shortest word is :a

22.Reverse the order of words in a string.

In [36]:
new_23 = input("Enter a statement:")

Enter a statement: my name is khan

In [44]:
words=new_23.split()
reverse = ' '.join(reversed(words))
print("Reverse sentence is:" + reverse)

Reverse sentence is:khan is name my

23. Check if a string is alphanumeric.

In [45]:
new_24 = input("Enter a statement:")

Enter a statement: alphanumeric124

In [47]:
if new_24.isalnum():
    print("String is alpha numeric")
else:
    print("Not alphanumeric")

String is alpha numeric

24. Extract all digits from a string.

In [59]:
def extractedDigits(text):
    digits=""
    for char in text :
        if char.isdigit():
            digits+=char
    return digits

string24 = "mYnameis123whoserollnois65"
Extracted_Digits = extractedDigits(string24)
print("Extracted Digits are:"+Extracted_Digits)

Extracted Digits are:12365

25. Extract all alphabets from a string.

In [62]:
def extractAlpha(text):
    alpha=""
    for i in text:
        if i.isalpha():
            alpha+=i
    return alpha

string25= "this is 24 of my 47 kingdoms"
Extracted_Alpha = extractAlpha(string25)
print("Extracted Alphabets are: "+ Extracted_Alpha)

Extracted Alphabets are: thisisofmykingdoms

26. Count the number of uppercase letters in a string.

In [64]:
def countUpper(text):
    count=0
    for i in text:
        if i.isupper():
            count+=1
    return count
s26 = "ThisisNEwIndiA"
count_upper= countUpper(s26)
print("Number of upper case letters :"+ str(count_upper))

Number of upper case letters :5

27.Count the number of lowercase letters in a string.

In [66]:
def countLower(text):
    count=0
    for i in text:
        if i.islower():
            count+=1
    return count
s27 = "ThisisNEwIndiA"
count_lower= countLower(s27)
print("Number of Lower case letters :"+ str(count_lower))

Number of Lower case letters :9

28. Swap the case of each character in a string.

In [68]:
def Swap_char(text):
    swap_txt=""
    for i in text:
        if i.isupper():
            i=i.lower()
            swap_txt+=i
        else:
            i=i.upper()
            swap_txt+=i
    return swap_txt

s28="My Name is Khan"
Swapped_Text = Swap_char(s28)
print("Case swapped Text :"+ Swapped_Text)

Case swapped Text :mY nAME IS kHAN

29. Remove a specific word from a string.

In [72]:
def Word_remover(input_str29, word29):
    words = input_str29.split()
    filtered_words = [ word for word in words if word != word29]
    modified_string = ' '.join(filtered_words)
    return modified_string

input_str29=" This is the world of programming "
word29= "is"
result = Word_remover(input_str29,word29)
print(result) #copied

This the world of programming

30. Check if a string is a valid email address.

In [79]:
import re

def email_validator(email):
    pattern= r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern,email):
        return True
    else: 
        return False

email1= "mayank312@gmail.com"
email2="mayankr312-dnakndajd"
result1= email_validator(email1)
result2=email_validator(email2)
print(result1)
print(result2) #copied

True
False

31. Extract the username from an email address string.

In [80]:
def extract_username(email):
    username= email.split('@')[0]
    return username
email="mayank312@gmail.com"
result= extract_username(email)
print(result)

mayank312

32. Extract the domain name from an email address string.

In [81]:
def extract_domain(email):
    domain= email.split('@')[1]
    return domain
email="kumarmayank312@hotmail.com"
result = extract_domain(email)
print(result)

hotmail.com

33. Replace multiple spaces in a string with a single space.

In [86]:
def replace_multi(text):
    new_singleSpace = ' '.join(text.split())
    return new_singleSpace

s33="MY   hello     world is     Good"
result = replace_multi(s33)
print(result)

MY hello world is Good

34. Check if a string is a valid URL.

In [5]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

35. Extract the protocol (http or https) from a URL string.

In [6]:
def extract_protocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

protocol_1 = extract_protocol(url1)
protocol_2 = extract_protocol(url2)
protocol_3 = extract_protocol(url3)

print("Protocol 1 :" + protocol_1)
print("Protocol 2 :" + protocol_2)
print("Protocol 3 :" + protocol_3)

Protocol 1 :https
Protocol 2 :http
Protocol 3 :ftp

36. Find the frequency of each character in a string.

In [10]:
def char_frequency(input_string):
    char_count={}
    for i in input_string:
        if i in char_count:
            char_count[i]+=1
        else:
            char_count[i] =1
    return char_count

input_str36 = "Mayank"
counting = char_frequency(input_str36)

for char, freq in counting.items():
    print(f"Character : '{char}', Frequency : {freq}")

Character : 'M', Frequency : 1
Character : 'a', Frequency : 2
Character : 'y', Frequency : 1
Character : 'n', Frequency : 1
Character : 'k', Frequency : 1

37. Remove all punctuation from a string.

In [18]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

38. Check if a string contains only digits.

In [20]:
def check_if_digit(input_String):
    return input_String.isdigit()

String381= " my name is "
String382 = " 1234563"
String383 = "my sid 835031"

result1= check_if_digit(String381)
result2= check_if_digit(String382)
result3= check_if_digit(String383)


print(f" '{String381}' contains only digits :", result1)
print(f" '{String382}' contains only digits :", result2)
print(f" '{String383}' contains only digits :", result3)

 ' my name is ' contains only digits : False
 ' 1234563' contains only digits : False
 'my sid 835031' contains only digits : False

39. Check if a string contains only alphabets.

In [24]:
def check_alpha(input_string):
    return input_string.isalpha()

# Example strings
string1 = "Hello"
string2 = "Hello123"
string3 = "12345"

# Check if strings contain only alphabets
result1 = check_alpha(string1)
result2 = check_alpha(string2)
result3 = check_alpha(string3)

# Print the results
print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

40. Convert a string to a list of characters.

In [30]:
def conver_str(inp_Str40):
    list_ret = list(inp_Str40)
    return list_ret

input_Str40 = "Hello World !"
str_to_list = conver_str(input_Str40)

print("String as list :",str_to_list)

String as list : ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', ' ', '!']

41. Check if two strings are anagrams.

In [6]:
def if_anagram(str_401,str_402):
    str_401 = str_401.replace(" ","",).lower()
    str_402 = str_402.replace(" ","",).lower()
    
    return sorted(str_401)== sorted(str_402)

str1= "listen"
str2="silent"
str3 ="my name is khan"
str4 ="Hello world"

result_1= if_anagram(str1,str2)
result_2= if_anagram(str3,str4)

print(f"'{str1}' and '{str2}'are anagrams :" ,result_1)
print(f"'{str3}' and '{str4}'are anagrams :" ,result_2)

'listen' and 'silent'are anagrams : True
'my name is khan' and 'Hello world'are anagrams : False

42. Encode a string using a Caesar cipher.

In [18]:
def caesar_cipher(text,shift):
    encoded_text=""
    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char)+shift-ord('a')) % 26 + ord('a'))
        else:
            encoded_char = char
        encoded_text+=encoded_char
    return encoded_text

input_text42= " My name is mayank 312"
shift = 3

encoded_stat= caesar_cipher(input_text42,shift)
print("Encoded text is :",encoded_stat)

Encoded text is :  jb qdph lv pdbdqn 312

43. Decode a Caesar cipher encoded string.

In [19]:
def caesar_decoder(text,shift):
    decoded_text=""
    for char in text:
        if char.isalpha():
            decoded_char=chr((ord(char)+shift-ord('a'))%26+ord('a'))
        else:
            decoded_char = char
        decoded_text+=decoded_char
    return decoded_text

input_text43="jb qdph lv pdbdqn 312"
shift = 3
decoded_Stat= caesar_decoder(input_text43,shift)
print("Decoded text is:", decoded_Stat)

Decoded text is: me tgsk oy sgegtq 312

44. Find the most frequent word in a string.

In [9]:
import re
from collections import Counter

def most_frequent(input_string):
    new_string= re.sub(r'[^\w\s]','',input_string).lower()
    words = new_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    
    return most_common_word

input_str44 = "Hello world, hello there! How's the world?"
most_common = most_frequent(input_str44)

print("Most frequent word:", most_common)

Most frequent word: hello

45. Find all unique words in a string.

In [10]:
import re

def unique_words(input_string):
    new_string=re.sub(r'[^\w\s]','',input_string).lower()
    words = set(new_string.split())
    
    return words

input_str45 ="Hello world, hello there! How's the world?"
unique_set = unique_words(input_str45)
print("Unique words are :", unique_set)

Unique words are : {'the', 'there', 'hows', 'hello', 'world'}

46. Count the number of syllables in a string.

In [13]:
import re

def num_syllables(text):
    vowel_groups = re.findall(r'[aeiouy]+',text, re.IGNORECASE)
    
    return len(vowel_groups)

# Example words
word1 = "Telecommunications"
word2 = "Mango"
word3 = "syllable"

# Count syllables
syllables1 = num_syllables(word1)
syllables2 = num_syllables(word2)
syllables3 = num_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'Telecommunications' has 7 syllables.
'Mango' has 2 syllables.
'syllable' has 3 syllables.

47. Check if a string contains any special characters.

In [19]:
import re

def check_special(text):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(text)
    return bool(match)

String47_1 = " Hello ! Good Morning "
String47_2= "Hello Good Morning"
String47_3 = " Hello @$%#(@ Good Morning" 

result1 = check_special(String47_1)
result2 = check_special(String47_2)
result3 = check_special(String47_3)

print(f"'{String47_1}' contains special characters:", result1)
print(f"'{String47_2}' contains special characters:", result2)
print(f"'{String47_3}' contains special characters:", result3)

' Hello ! Good Morning ' contains special characters: True
'Hello Good Morning' contains special characters: False
' Hello @$%#(@ Good Morning' contains special characters: True

48. Remove the nth word from a string.

In [21]:
def remove_nth_word(text,n):
    words = text.split()
    if n>=1 and n<=len(words):
        removed_word= words.pop(n-1)
        
        modified_string=' '.join(words)
        return modified_string,removed_word
    else:
        return None, None
input_str48="This is an example sentence to test the function."
n= 4
new_str, removed_key = remove_nth_word(input_str48,n)
print("Original string:",input_str48)

if new_str is not None:
    print("Modified String:",new_str)
    print("Removed_word:",removed_key)
else:
    print("Invalid value of n")

Original string: This is an example sentence to test the function.
Modified String: This is an sentence to test the function.
Removed_word: example

49. Insert a word at the nth position in a string.

In [28]:
def insertion_nth(text,word,n):
    words49= text.split(' ')
    if n>=1 and n<=len(text):
        words49.insert(n-1,word)
        new_String=' '.join(words49)
        
        return new_String
    else:
        return None
input_Str49 ="This is an sentence to test the function"
word49= "example"
n49=4
new_str49 = insertion_nth(input_Str49,word49,n49)

print("New string is:", new_str49)

New string is: This is an example sentence to test the function

50. Convert a CSV string to a list of lists.

In [30]:
def csv_to_lists(csv_string):
    lines = csv_string.split('\n')
    result =[]
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result

csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
list_of_lists = csv_to_lists(csv_data)
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [34]:
list1=[i for i in range(0,11)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [35]:
def length_of_lists(input_list):
    count = 0
    for i in input_list:
        count+=1
    return count

my_list = [10,14,434,5454,'swim']
length_2= length_of_lists(my_list)
print("Length of list:",length_2)

Length of list: 5

3. Append an element to the end of a list.

In [1]:
my_list3 = [10,20,30,40,50]
new3 = 60
my_list3.append(new3)

print(my_list3)

[10, 20, 30, 40, 50, 60]

4. Insert an element at a specific index in a list.

In [3]:
my_list4 = [10,20,40,50,60,90]
index_4 = 2
element_4 = 30
my_list4.insert(index_4, element_4)
print(my_list4)

[10, 20, 30, 40, 50, 60, 90]

5. Remove an element from a list by its value.

In [11]:
my_list5 = [10,20,30,40,50,60]
element5_remov = 30

if element5_remov in my_list5:
    my_list5.remove(element5_remov)
    print(my_list5)
else:
    print("element not in list")

[10, 20, 40, 50, 60]

6. Remove an element from a list by its index.

In [12]:
my_list6 =[10,20,30,40,50,60]
index6 = 2
element6 = my_list6.pop(index6)

print("Updated list", my_list6)
print("removed element", element6)

Updated list [10, 20, 40, 50, 60]
removed element 30

7. Check if an element exists in a list.

In [14]:
my_list7 = [10,20,30,40,50,60,70]
element7= 20

if element7 in my_list7:
    print(f'{element7} exists in the list')
else:
    print(f'{element7} not exists in the list')

20 exists in the list

8. Find the index of the first occurrence of an element in a list.

In [3]:
my_list8 = [10,20,30,40,50,60,70]
element_8= 60

index8 = my_list8.index(element_8)
print(f"Index of {element_8} is {index8}")

Index of 60 is 5

9. Count the occurrences of an element in a list.

In [ ]:
my_list9 = [10,20,30,40,50,60,70,10,30,10]
element_9= 10

count9= my_list9.count(10)
print(f"Number of times {element_9} occuresd is : {count9}")

Number of times 10 occuresd is : 3

10. Reverse the order of elements in a list.

In [12]:
my_list10 = [10,20,30,40,50,60,70,10,30,10]
my_list10.reverse()

print("Reversed list",my_list10)

Reversed list [10, 30, 10, 70, 60, 50, 40, 30, 20, 10]

11. Sort a list in ascending order.

In [16]:
my_list11 = [10,20,30,40,50,60,70,10,30,10]
my_list11.sort()
print("Sorted list:",my_list11)

Sorted list: [10, 10, 10, 20, 30, 30, 40, 50, 60, 70]

12. Sort a list in descending order.

In [17]:
my_list12 = [10,20,30,40,50,60,70,10,30,10]
my_list12.sort(reverse = True)
print("Sorted list:",my_list12)

Sorted list: [70, 60, 50, 40, 30, 30, 20, 10, 10, 10]

13. Create a list of even numbers from 1 to 20.

In [20]:
list13=[]
for i in range(1,21):
    if i %2==0:
        list13.append(i)

print("list is ",list13)

list is  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [22]:
list14=[]
for i in range(1,21):
    if i %2!=0:
        list14.append(i)

print("list is ",list14)

list is  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [25]:
my_list15 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Sum_list15 = sum(my_list15)

print("Sum of list", Sum_list15)

Sum of list 110

16. Find the maximum value in a list.

In [27]:
my_list16 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Maximum_val = max(my_list15)
print("Maximum value in list:", Maximum_val)

Maximum value in list: 20

17. Find the minimum value in a list.

In [29]:
my_list17 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Minimum_val = min(my_list15)
print("Minimum value in list:", Minimum_val)

Minimum value in list: 2

18. Create a list of squares of numbers from 1 to 10.

In [30]:
list18=[]
for i in range(1,11):
    list18.append(i*i)

print("List of Squares:",list18)

List of Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [32]:
import random
list19=[]
n19 =10
for i in range(n19):
    list19.append(random.randint(1,100))
print(list19)

[49, 12, 41, 73, 45, 25, 54, 76, 90, 86]

20. Remove duplicates from a list.

In [33]:
my_list20=[10,20,30,40,50,10,20,90,100]
unique_list = list(set(my_list20))
unique_list

[100, 40, 10, 50, 20, 90, 30]

21. Find the common elements between two lists.

In [36]:
a21=[10,20,30,40,50]
b21=[10,20,30,70,80]

def common(a21,b21): 
    c21 = [value for value in a21 if value in b21] 
    return c21
d21=common(a21,b21)
print("Common Elements are:",d21)

Common Elements are: [10, 20, 30]

22. Find the difference between two lists.

In [38]:
a22=[10,20,30,40,50]
b22=[10,20,30,70,80]
diff = list(set(a22).difference(b22))
print("Difference between lists:", diff)

Difference between lists: [50, 40]

23. Merge two lists.

In [39]:
a23 =[10,20,30]
b23=[40,50,60]

new_list23 = a23+b23
print("Merged list:",new_list23)

Merged list: [10, 20, 30, 40, 50, 60]

24. Multiply all elements in a list by 2.

In [42]:
a24=[10,20,30,40,50]
new24=[]

for i in a24:
    new24.append(i*2)
print("New list:",new24)

New list: [20, 40, 60, 80, 100]

25. Filter out all even numbers from a list.

In [45]:
a25=[10,11,12,14,15,3,4,5]
for i in a25:
    if i%2==0:
        a25.remove(i)
print("Filtered list:",a25)

Filtered list: [11, 14, 15, 3, 5]

26. Convert a list of strings to a list of integers.

In [5]:
a26 = [ '10','20', '30','40']
b26 =[]
for i in a26:
    b26.append(int(i))
    
print(b26)
    
type(b26[0])

[10, 20, 30, 40]

int

27. Convert a list of integers to a list of strings.

In [7]:
a27=[10,20,30,40]
b27 = [str(x) for x in a27]

type(b27[0])

str

28. Flatten a nested list.

In [15]:

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [16]:
def fibonacci_gen(n):
    list29=[0,1]
    for i in range(2,n):
        next_element = list29[i-2]+ list29[i-1]
        list29.append(next_element)
    return list29

fibonacci_numbers = fibonacci_gen(10)
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [25]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

31. Rotate a list to the left by `n` positions.

In [29]:
list31=[10,20,30,40,50,60,70]
n31 = 5

def rotate(lst,n):
    n= n%len(lst)
    rotated = lst[n:]+lst[:n]
    return rotated

rotated_list = rotate(list31,n31)
print("New_rotated_list:",rotated_list)

New_rotated_list: [60, 70, 10, 20, 30, 40, 50]

32. Rotate a list to the right by `n` positions.

In [31]:
list32=[10,20,30,40,50,60,70]
n32 = 2

def rotate(lst,n):
    n= n%len(lst)
    rotated = lst[-n:]+lst[:-n]
    return rotated

rotated_list = rotate(list32,n32)
print("New_rotated_list:",rotated_list)

New_rotated_list: [60, 70, 10, 20, 30, 40, 50]

33. Create a list of prime numbers up to 50.

In [9]:
def is_prime(x):
    if x<=1:
        return False
    if x<=3:
        return True
    if x%2==0 or x%3==0:
        return False
    i=5
    while i*i<=x:
        if x%i==0 or x%(i+2)==0:
            return False
        i=i+6
    return True

prime_num33 = [x for x in range(2,51) if is_prime(x)]
print("List of prime numbers",prime_num33)

List of prime numbers [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [11]:
my_list24 = [10,11,12,13,14,15,16,17]
chunk_size= 2

for i in range(0,len(my_list24), chunk_size):
    x=i
    print(my_list24[x:x+chunk_size])

[10, 11]
[12, 13]
[14, 15]
[16, 17]

35. Find the second largest number in a list.

In [22]:
my_list35 = [10,11,12,13,14,15,16,17]

sorted_list35= sorted(my_list35)
sorted_list35

if len(sorted_list35)>=2:
    second_largest=sorted_list35[-2]
    print("Second largest element:",second_largest)
else:
    print("List does not contain enough elements")

Second largest element: 16

36. Replace every element in a list with its square.

In [26]:
my_list36 = [1,2,3,4,5]

squared_list36=[x**2 for x in my_list36]

print("Squared_list:",squared_list36)

Squared_list: [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [28]:
list37=[10,20,30,40,50]
my_list37 = {element:index for index,element in enumerate(list37)}

print("Converted Dictionary",my_list37)

Converted Dictionary {10: 0, 20: 1, 30: 2, 40: 3, 50: 4}

38. Shuffle the elements of a list randomly.

In [31]:
import random
my_list38= [10,20,50,'like','me']

random.shuffle(my_list38)
print("Shuffled list", my_list38)

Shuffled list ['me', 20, 50, 'like', 10]

39. Create a list of the first 10 factorial numbers.

In [32]:
def factorial_num(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial_num(n-1)

factorial_list=[factorial_num(x) for x in range(10)]
print("List of all factorials", factorial_list)

List of all factorials [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [35]:
list_401=[10,20,50,40,90]
list_402=[200,100,70,80,900]

def common_ele(list1,list2):
    for i in list1:
        if i in list2:
            return True
    return False

if common_ele(list_401,list_402):
    print("The lists have atleast one common element")
else:
    print("The lists have no common element")

The lists have no common element

41. Remove all elements from a list.

In [37]:
my_list41=[10,11,12,13]
my_list41.clear()
print("empty_list:",my_list41)

empty_list: []

42. Replace negative numbers in a list with 0.

In [41]:
my_list42=[10,20,-3,-20,40]
for i in range(len(my_list42)):
    if my_list42[i]<0:
        my_list42[i]=0

print("Revamp_list:",my_list42)

Revamp_list: [10, 20, 0, 0, 40]

43. Convert a string into a list of words.

In [42]:
my_string43 = " My name is Kumar Mayank"

new_list43 = my_string43.split()

new_list43

['My', 'name', 'is', 'Kumar', 'Mayank']

44. Convert a list of words into a string.

In [45]:
list44 = ['My', 'name', 'is', 'Kumar', 'Mayank']
string44= " ".join(list44)

string44

'My name is Kumar Mayank'

45. Create a list of the first `n` powers of 2.

In [48]:
n= 15

list45= [2**i for i in range(n)]

print(list45)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384]

46. Find the longest string in a list of strings.

In [53]:
list46=['My', 'name', 'is', 'Kumar', 'Mayank']
longest_Str= ""

for i in list46:
    if len(i)>len(longest_Str):
        longest_Str = i
        
print("Longest string is:", longest_Str)

Longest string is: Mayank

47. Find the shortest string in a list of strings.

In [57]:
list47=['My', 'name', 'i', 'Kumar', 'Mayank']
shortest_str= list47[0]

for i in list47:
    if len(i)<len(shortest_str):
        shortest_str = i
        
print("shortest string is:", shortest_str)

shortest string is: i

48. Create a list of the first `n` triangular numbers.

In [62]:
def triang_num(n):
    return [i*(i+1)//2 for i in range(1,n+1)]

n=10

triangular_list48= triang_num(n)
print("List of first",n,"triangular numbers:",triangular_list48)

List of first 10 triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [67]:
def if_subseq(main,subseq):
    subseq_index = 0
    for element in main:
        if element == subseq[subseq_index]:
            subseq_index+=1
            if subseq_index == len(subseq):
                return True
    return False

main_list=[1,2,3,4,5,6,7,8]
subseq=[2,3,4]

if if_subseq(main_list,subseq):
    print("Subsequence is in main list")
else:
    print("Subsequence is not in main list")

Subsequence is in main list

50. Swap two elements in a list by their indices.

In [69]:
list50=[20,30,40,50,60,70]
index1=2
index2=5

temp= list50[index1]
list50[index1]=list50[index2]
list50[index2]=temp

list50

[20, 30, 70, 50, 60, 40]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [75]:
a1 = (1,2,3,4,5)
print(a1)
type(a1)

(1, 2, 3, 4, 5)

tuple

2. Access the third element of a tuple.

In [76]:
a2= (1,2,3,4,5)
Third_element= a2[2]

print("third element of tuple is:",Third_element)

third element of tuple is: 3

3. Find the length of a tuple without using the `len()` function.

In [78]:
a3= (1,2,3,4,5)
count3=0

for i in a3:
    count3+=1
print("length is:",count3)

length is: 5

4. Count the occurrences of an element in a tuple.

In [84]:
a4= (1,2,5,3,4,5,6,5)
element=5
count4=0

for i in a4:
    if i == element:
        count4+=1
print("Number of occurence of the element is:",count4)

Number of occurence of the element is: 3

5. Find the index of the first occurrence of an element in a tuple.

In [3]:
my_tup5=(10,20,30,40,50)
elem5= 30


index=-1

for i,item in enumerate(my_tup5):
    if item== elem5:
        index= i
        break
        
if index !=-1:
    print(f"The first occurence of {elem5} is at index {index}")
else:
    print(" Element not in the list")

The first occurence of 30 is at index 2

6. Check if an element exists in a tuple.

In [9]:
my_tup6=(10,20,30,40,50)
elem6= 100


if elem6 in my_tup6:
    print("element exists in tuple")
else:
    print("element not in list")

element not in list

7. Convert a tuple to a list.

In [11]:
my_tup7=(10,20,30,40,50)
neew7 = list(my_tup7)
print("List form is :", neew7)

List form is : [10, 20, 30, 40, 50]

8. Convert a list to a tuple.

In [13]:
new_8=[10, 20, 30, 40, 50]
tup8= tuple(new_8)
tup8

(10, 20, 30, 40, 50)

9. Unpack the elements of a tuple into variables.

In [15]:
my_tup9=(10,20,30,40,50)

var1,var2,var3,var4,var5= my_tup9

print("Variable 1:",var1)
print("Variable 2:",var2)
print("Variable 3:",var3)
print("Variable 4:",var4)
print("Variable 5:",var5)

Variable 1: 10
Variable 2: 20
Variable 3: 30
Variable 4: 40
Variable 5: 50

10. Create a tuple of even numbers from 1 to 10.

In [17]:
list10=[ x for x in range(1,11) if x%2==0]

my_tup10= tuple(list10)
print(my_tup10)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [18]:
list11=[ x for x in range(1,11) if x%2!=0]

my_tup11= tuple(list11)
print(my_tup11)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [19]:
tup1_12=(1,2,3,4)
tup2_12=(5,6,7,8)

conc_tup = tup1_12+tup2_12
print("Concatenated tuple:", conc_tup)

Concatenated tuple: (1, 2, 3, 4, 5, 6, 7, 8)

13. Repeat a tuple three times.

In [21]:
tup3=(1,2,3,4)
repeated_tup = tup3 *3
print("Repeated tuple", repeated_tup)

Repeated tuple (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

14. Check if a tuple is empty.

In [24]:

empty_tuple = ()
non_empty_tuple = (1, 2, 3)

if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

15. Create a nested tuple.

In [26]:
nested_15 =((1,2,3),(45,54,64),('my','kumar','mayank'))
print(nested_15)

((1, 2, 3), (45, 54, 64), ('my', 'kumar', 'mayank'))

16. Access the first element of a nested tuple.

In [33]:
nested_16 =((1,2,3),(45,54,64),('my','kumar','mayank'))
print("First element",nested_16[0])

First element (1, 2, 3)

17. Create a tuple with a single element.

In [34]:
my_tup17=(1,)
my_tup17

(1,)

18. Compare two tuples.

In [37]:
my_tup181=(10,11,12,13,14)
my_tup182=(15,16,17,18,19)
print("my_tup181==my_tup182", my_tup181==my_tup182)
print("my_tup181!=my_tup182", my_tup181!=my_tup182)
print("my_tup181<my_tup182", my_tup181<my_tup182)
print("my_tup181<=my_tup182", my_tup181<=my_tup182)
print("my_tup181>my_tup182", my_tup181>my_tup182)
print("my_tup181>=my_tup182", my_tup181>=my_tup182)

my_tup181==my_tup182 False
my_tup181!=my_tup182 True
my_tup181<my_tup182 True
my_tup181<=my_tup182 True
my_tup181>my_tup182 False
my_tup181>=my_tup182 False

19. Delete a tuple.

In [40]:
my_tup19=(10,11,12,13,14)
del my_tup19
my_tup19

NameError: name 'my_tup19' is not defined

20. Slice a tuple.

In [43]:
my_tup20=(10,11,12,13,14)
new20 = my_tup20[:3]
new20

(10, 11, 12)

21. Find the maximum value in a tuple.

In [45]:
my_tup21=(10,11,12,33,14,15,16)
maximum_ele = max(my_tup21)
print("Maximum element:",maximum_ele)

Maximum element: 33

22. Find the minimum value in a tuple

In [46]:
my_tup22=(10,11,2,33,14,15,16)
min_ele22=min(my_tup22)
print("Minimum element:",min_ele22)

Minimum element: 2

23. Convert a string to a tuple of characters.

In [47]:
my_string = "Hello, World!"
tuple_of_characters = tuple(my_string)
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [49]:
Tup_conver24=('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')
string_tup=''.join(Tup_conver24)
print("String is:", string_tup)

String is: Hello, World!

25. Create a tuple from multiple data types.

In [52]:
tup25=(1,'mike',2.35, True)
tup25

(1, 'mike', 2.35, True)

26. Check if two tuples are identical.

In [1]:
my_tup261=(10,11,2,33,14,15,16)
my_tup262=(10,11,2,33,14,15,16)
my_tup263=(10,11,2,3,14,15,16)

identical_1 = (my_tup261 == my_tup262)
identical_2 = (my_tup262 == my_tup263)

print(identical_1)
print(identical_2)

True
False

27. Sort the elements of a tuple.

In [3]:
my_tup27=(10,11,2,33,14,15,16)

tup_sort = tuple(sorted(my_tup27))
print("Sored tuple:", tup_sort)

Sored tuple: (2, 10, 11, 14, 15, 16, 33)

28. Convert a tuple of integers to a tuple of strings.

In [13]:
my_tup27=(10,11,2,33,14,15,16)
new_tup27 = tuple(str(i) for i in my_tup27)
print(new_tup27)

('10', '11', '2', '33', '14', '15', '16')

29. Convert a tuple of strings to a tuple of integers.

In [14]:
my_tup28=('10','20','30','40')
new_tup28 = tuple(int(i) for i in my_tup28)
print(new_tup28)

(10, 20, 30, 40)

30. Merge two tuples.

In [15]:
my_tup30=(10,11,2,33,14,15,16)
my_tup31=(17,18,19,20,21)

merge_tup = my_tup30 + my_tup31

print("Merged Tuples:",merge_tup)

Merged Tuples: (10, 11, 2, 33, 14, 15, 16, 17, 18, 19, 20, 21)

31. Flatten a nested tuple.

In [17]:
def flatten_tup(nested_tuple):
    flattened=[]
    for item in nested_tuple:
        if isinstance(item,tuple):
            flattened.extend(flatten_tup(item))
        else:
            flattened.append(item)
    return flattened

my_tup31=(1,(2,3,4),(5,6),(7,8,9))
new_tup31 = tuple(flatten_tup(my_tup31))

print("Flattend tuple:", new_tup31)

Flattend tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [18]:
def is_prime(num):
    if num<=1:
        return False
    for i in range(2, int((num**0.5)+1)):
        if num%i==0:
            return False
    return True

prime_numlist=[x for x in range(0,50) if is_prime(x)][:5]

prime_tup= tuple(prime_numlist)

print("Tuple of first 5 prime numbers:",prime_tup)

Tuple of first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [22]:
my_tup33 =(1, 2, 3, 4,3,2,1)

if my_tup33 == my_tup33[-1::-1]:
    print("It is pallindrome")
else:
    ("Not a pallindrome")

It is pallindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [24]:
tup_34 = tuple([x**2 for x in range(1,6)])
print("tuple of squares:",tup_34)

tuple of squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [25]:
my_tup35 =(1, 2, 3, 4, 3, 2, 1)

new_list = tuple([i for i in my_tup35 if i%2!=0])

print("Filtered list :", new_list)

Filtered list : (1, 3, 3, 1)

36. Multiply all elements in a tuple by 2.

In [27]:
my_tup36 =(1, 2, 3, 4, 3, 2, 1)

new_tup36 =tuple([x*2 for x in my_tup36])
print("New list multiplied by 2 is :",new_tup36)

New list multiplied by 2 is : (2, 4, 6, 8, 6, 4, 2)

37. Create a tuple of random numbers.

In [28]:
import random

random_tup37 = tuple(random.randint(1,100) for i in range(10))

print(random_tup37)

(57, 98, 31, 11, 69, 25, 92, 31, 32, 66)

38. Check if a tuple is sorted.

In [29]:
def sorted_tup(tupl):
    for i in range(len(tupl)-1):
        if tupl[i]> tupl[i+1]:
            return False
    return True

tuple1= (10,30,40,20,100)
tuple2= (1,2,3,4,5)

a38 = sorted_tup(tuple1)
b38 = sorted_tup(tuple2)

print("Is tuple1 sorted:", a38)
print("Is tuple2 sorted:", b38)

Is tuple1 sorted: False
Is tuple2 sorted: True

39. Rotate a tuple to the left by `n` positions.

In [30]:
def rotate_left(tupl,n):
    n = n % len(tupl)
    rotated_tuple= tupl[n:]+tupl[:n]
    return rotated_tuple

my_tuple =( 2,3,4,5,6,7)
n = 3

new_tup39 = rotate_left(my_tuple,n)
print("Rotated tuple:", new_tup39)

Rotated tuple: (5, 6, 7, 2, 3, 4)

40. Rotate a tuple to the right by `n` positions.

In [31]:
def rotate_right(tupl,n):
    n = n % len(tupl)
    rotated_tuple= tupl[-n:]+tupl[:-n]
    return rotated_tuple

my_tuple40 =( 2,3,4,5,6,7)
n = 3

new_tup40 = rotate_right(my_tuple,n)
print("Rotated tuple towards right:", new_tup39)

Rotated tuple towards right: (5, 6, 7, 2, 3, 4)

41. Create a tuple of the first 5 Fibonacci numbers.

In [33]:
def fibonacci_tup(n):
    fibon = [0,1]
    while len(fibon)<n:
        new_num = fibon[-1]+fibon[-2]
        fibon.append(new_num)
    return tuple(fibon)

Fibonnac = fibonacci_tup(5)
print("First 5 fibonacci numbers are:", Fibonnac)

First 5 fibonacci numbers are: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [35]:

input_str = input("Enter elements separated by commas: ")


input_list = input_str.split(',')

user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas:  my,name,is,kumar

User input tuple: ('my', 'name', 'is', 'kumar')

43. Swap two elements in a tuple.

In [38]:
my_tup43 = (1,2,3,4,5,6)
index1= 2
index2= 4
new43 =list(my_tup43)
temp = new43[index1]
new43[index1]=new43[index2]
new43[index2]= temp

print("Swapped tuple:",tuple(new43))

Swapped tuple: (1, 2, 5, 4, 3, 6)

44. Reverse the elements of a tuple.

In [39]:
my_tup44 = (1,2,3,4,5,6)

reversed_tup44 = my_tup44[-1::-1]

print("Reversed Tuple:", reversed_tup44)

Reversed Tuple: (6, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [44]:
n=input("Enter value of n in integer")

tup_45 = tuple([2**i for i in range(int(n))])
tup_45

Enter value of n in integer 10

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

46. Find the longest string in a tuple of strings.

In [47]:
tup46 =('my','name','is','mayank')
longest_str=''

for i in tup46:
    if len(i)>len(longest_str):
        longest_str=i

print("Longest string is :", longest_str)

Longest string is : mayank

In [49]:
tup461 =('my','name','is','mayank')

longest_str2 = max(tup461,key = len)

print("Longest string:", longest_str2)

Longest string: mayank

47. Find the shortest string in a tuple of strings./

In [51]:
tup47 =('my','name','i','mayank')

shortest_str2 = min(tup47,key = len)

print("Shortest string:", shortest_str2)

Shortest string: i

48. Create a tuple of the first `n` triangular numbers.

In [52]:
n =5 

tup48 = tuple([i*(i+1)/2 for i in range(1,n+1)])
print("Triangular numbers are:",tup48)

Triangular numbers are: (1.0, 3.0, 6.0, 10.0, 15.0)

49. Check if a tuple contains another tuple as a subsequence.

In [53]:
def check_subseq(main, sub):
    sub_length = len(sub)
    for i in range(len(main)-sub_length+1):
        if main[i:i+sub_length] == sub:
            return True
    return False

main_tup49=(1,2,3,4,5,6,7,8)
sub49=(3,4,5)

contain_subseq = check_subseq(main_tup49,sub49)
print("Main tuple contains subsequence tuple:",contain_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [54]:
n = int(input("enter value of n"))

tup50= tuple(i%2 for i in range(n))
print("Alternating tuple upto length",n,"is:",tup50)

enter value of n 10

Alternating tuple upto length 10 is: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [6]:
my_set1 =set()
my_set1.add(1)
my_set1.add(2)
my_set1.add(3)
my_set1.add(4)
my_set1.add(5)

my_set1

{1, 2, 3, 4, 5}

2. Add an element to a set.

my_set2 ={1, 2, 3, 4, 5}
elem2 = 6

my_set2.add(elem2)
print(my_set2)

3. Remove an element from a set.

In [14]:
set3 ={1, 2, 3, 4, 5, 6}

set3.remove(5)
set3

{1, 2, 3, 4, 6}

4. Check if an element exists in a set.

In [18]:
set4 ={1, 2, 3, 4, 5, 6}
ele_to_chck =4

if ele_to_chck in set4:
    print("Element exists in set")
else:
    print("Element does not exists in set")

Element exists in set

5. Find the length of a set without using the `len()` function.

In [19]:
set5 ={1, 2, 3, 4, 5, 6}
count=0

for i in set5:
    count+=1
print("Length of set: ",count)

Length of set:  6

6. Clear all elements from a set.

In [21]:
set6 ={1, 2, 3, 4, 5, 6}
set6.clear()
set6

set()

7. Create a set of even numbers from 1 to 10.

In [28]:
even_num_set= set()

for i in range(1,11):
    if i%2==0:
        even_num_set.add(i)

print("Set of even numbers:",even_num_set)

Set of even numbers: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [29]:
odd_num_set= set()
for i in range(1,10):
    if i%2!=0:
        odd_num_set.add(i)
        
print("Set of odd numbers:",odd_num_set)

Set of odd numbers: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [30]:
set91= {1,2,3,4,5,6}
set92= {4,5,6,7,8,9}

union_result = set91.union(set92)

print("Set 1 :",set91)
print("Set 2:",set92)
print("Union of set1 and set2",union_result)

Set 1 : {1, 2, 3, 4, 5, 6}
Set 2: {4, 5, 6, 7, 8, 9}
Union of set1 and set2 {1, 2, 3, 4, 5, 6, 7, 8, 9}

10. Find the intersection of two sets.

In [32]:
set101= {1,2,3,4,5,6}
set102= {4,5,6,7,8,9}
intersection_Result= set101.intersection(set102)

print("Set 1 :",set101)
print("Set 2:",set102)
print("Union of set1 and set2",intersection_Result)

Set 1 : {1, 2, 3, 4, 5, 6}
Set 2: {4, 5, 6, 7, 8, 9}
Union of set1 and set2 {4, 5, 6}

11. Find the difference between two sets.

In [34]:
set111= {1,2,3,4,5,6}
set112= {4,5,6,7,8,9}

Difference_btw_set = set111.difference(set112)

print("Set 1 :",set111)
print("Set 2:",set112)
print("Union of set1 and set2",Difference_btw_set)

Set 1 : {1, 2, 3, 4, 5, 6}
Set 2: {4, 5, 6, 7, 8, 9}
Union of set1 and set2 {1, 2, 3}

12. Check if a set is a subset of another set.

In [36]:
set121= {1,2,3,4,5,6}
set122= {7,8,9}

if set122.issubset(set121):
    print("IT is a subset")
else:
    print("It is not a subset")

It is not a subset

13. Check if a set is a superset of another set.

In [37]:
set131= {1,2,3,4,5,6}
set132= {4,5}

if set131.issuperset(set132):
    print("it is a super set")
else:
    print("It is not a super set")

it is a super set:

14. Create a set from a list.

In [39]:
my_list14= [13,15,15,16,17]

new_Set14 =set(my_list14)
print("original list:",my_list14)
print("Set from list:",new_Set14)

original list: [13, 15, 15, 16, 17]
Set from list: {16, 17, 13, 15}

15. Convert a set to a list.

In [40]:
my_set15={1,2,3,5,67,78,9}
my_list15= list(my_set15)

print("Original set",my_set15)
print("new list:",my_list15)

Original set {1, 2, 3, 67, 5, 9, 78}
new list: [1, 2, 3, 67, 5, 9, 78]

16. Remove a random element from a set.

In [41]:
import random
my_set16= {1,2,3,4,5,6}

random_element = random.choice(list(my_set16))

my_set16.remove(random_element)

print("New list", my_set16)

New list {1, 2, 4, 5, 6}

17. Pop an element from a set.

In [42]:
my_set17= {1,2,3,4,5,6}
popped_element=my_set17.pop()
print("Popped element:", popped_element)
print("Set after popping of element:",my_set17)

Popped element: 1
Set after popping of element: {2, 3, 4, 5, 6}

18. Check if two sets have no elements in common.

In [45]:
set181={1,2,3,4}
set182={5,6,7,8}

common_ele = set181.intersection(set182)

if not common_ele:
    print("Have no elements in common")
else:
    print("have elements in common")

Have no elements in common

19. Find the symmetric difference between two sets.

In [46]:
set191={1,2,3,4,5}
set192={5,6,7,8,9}

symm_diff = set191^set192

print("Symmetric difference:",symm_diff)

Symmetric difference: {1, 2, 3, 4, 6, 7, 8, 9}

20. Update a set with elements from another set.

In [49]:
set201={1,2,3,4,5}
set202={5,6,7,8,9}

set201.update(set202)
print("New updated set with elements of both set:",set201)

New updated set with elements of both set: {1, 2, 3, 4, 5, 6, 7, 8, 9}

21. Create a set of the first 5 prime numbers.

In [1]:

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_set = set()


num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [2]:
s221={1,2,3,4,5}
s222= {1,2,3,4,5}

if s221==s222:
    print("Sets s221 and s222 are identical")
else:
    print("Sets s221 and s222 are not identical")

Sets s221 and s222 are identical

23. Create a frozen set.

In [3]:
elements23 = [4,5,6,7,8]
my_frozen_Set23 = frozenset(elements23)

print("Frozen Set is", my_frozen_Set23)

Frozen Set is frozenset({4, 5, 6, 7, 8})

24. Check if a set is disjoint with another set.

In [6]:
set241 = {1,2,3,4,5}
set242 = {6,7,8,9,10}

disjoint_Stat = set241.isdisjoint(set242)

print("Disjoint status:", disjoint_Stat)

Disjoint status: True

25. Create a set of squares of numbers from 1 to 5.

In [8]:
set_Square = set()

for i in range(1,6):
    set_Square.add(i*i)
    
print("Set of squares from 1 to 5 :",set_Square)

Set of squares from 1 to 5 : {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [9]:
set26= {12,14,13,17,19,22,24}
even_no_set =set()

for i in set26:
    if i%2!=0:
        even_no_set.add(i)
        
print("Filtered set without even numbers:",even_no_set)

Filtered set without even numbers: {17, 19, 13}

27. Multiply all elements in a set by 2.

In [10]:
set27= {12,14,13,17,19,22,24}
new_set27= set()

for i in set27:
    new_set27.add(i*2)
print("New set is:",new_set27)

New set is: {34, 38, 44, 48, 24, 26, 28}

28. Create a set of random numbers.

In [12]:
import random

num_Rand7= 5

random_Set28= set()

for i in range(num_Rand7):
    i = random.randint(1,100)
    random_Set28.add(i)
    
print("Generated set of Random Numbers",random_Set28)

Generated set of Random Numbers {64, 97, 4, 56, 26}

29. Check if a set is empty.

In [13]:
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [17]:
set1 = {1, 2, 3, 4, 5}
elem_to_be_Removed = 4

set1.discard(elem_to_be_Removed)
set1

{1, 2, 3, 5}

32. Compare two sets.

In [19]:
set311 = {1, 2, 3, 4, 5}
set312 = {6, 7, 8,4,5}

is_subset = set311.issubset(set312)
is_superset = set311.issuperset(set312)
intersection = set311.intersection(set312)
union = set311.union(set312)
difference1 = set311.difference(set312)
difference2 = set312.difference(set311)

print("Set 1",set311)
print("Set 2 ", set312)
print("Is set 1 is subset of set 2:",is_subset)
print("Is set 1 is superset of set 2:",is_superset)
print("intersection of set1 and set2:",intersection)
print("Union of set 1 and set 2:",union)
print("Elements in set 1 but not in set 2:",difference1)
print("Elements in set 2 but not in set 1:",difference2)

Set 1 {1, 2, 3, 4, 5}
Set 2  {4, 5, 6, 7, 8}
Is set 1 is subset of set 2: False
Is set 1 is superset of set 2: False
intersection of set1 and set2: {4, 5}
Union of set 1 and set 2: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set 1 but not in set 2: {1, 2, 3}
Elements in set 2 but not in set 1: {8, 6, 7}

33. Create a set from a string.

In [20]:
input_str33="Hello World"

set_33 = set(input_str33)
print("New set33",set_33)

New set33 {'l', ' ', 'd', 'H', 'W', 'o', 'e', 'r'}

34. Convert a set of strings to a set of integers.

In [22]:
string_set34 = {"123", "456", "789"}
integer_set = set()

for string in string_set34:
    integer_value = int(string)
    integer_set.add(integer_value)
    
print("Original set:",string_set34)
print("Integer set:", integer_set)

Original set: {'123', '456', '789'}
Integer set: {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [23]:
integer_set = {456, 123, 789}
string_set35 = set()

for i in integer_set:
    string_val = str(i)
    string_set35.add(string_val)
    
print("Original set:", integer_set)
print("String set:", string_set35)

Original set: {456, 123, 789}
String set: {'123', '456', '789'}

36. Create a set from a tuple.

In [24]:
tup36=(1,2,3,4,6)
new_set36 = set(tup36)

print("Orginal tuple:",tup36)
print("Set of tuple:",new_set36)

Orginal tuple: (1, 2, 3, 4, 6)
Set of tuple: {1, 2, 3, 4, 6}

37. Convert a set to a tuple.

In [25]:
Set37= {1, 2, 3, 4, 6}
new_tup37= tuple(Set37)

print("Original set:",Set37)
print("New tuple:", new_tup37)

Original set: {1, 2, 3, 4, 6}
New tuple: (1, 2, 3, 4, 6)

38. Find the maximum value in a set.

In [31]:
Set38= {1, 2, 31, 4, 6}

max_val38 = 0

for i in Set38:
    if i>max_val38:
        max_val38=i

print("Maximum value in given set:",max_val38)

Maximum value in given set: 31

39. Find the minimum value in a set.

In [38]:
set39= {45, 2, 31,-25, 4, 6,1}
min_val39= None

for num in set39:
    if min_val39 is None or num < min_val39:
        min_val39=num
print("Minimum value in given set:", min_val39)

Minimum value in given set: -25

40. Create a set from user input.

In [40]:
user_set= set()

print("enter elements for the set and type 'done' to finish it:")

while True:
    user_input = input("> ")
    if user_input.lower()=='done':
        break
    user_set.add(user_input)

print("Final set:",user_set)

enter elements for the set and type 'done' to finish it:

>  mayank
>  name
>  is
>  kumar
>  done

Final set: {'kumar', 'mayank', 'is', 'name'}

41. Check if the intersection of two sets is empty.

In [41]:
set411={1,2,3,4,5}
set412={6,7,8,9,10}

intersection= set411.intersection(set412)

if not intersection:
    print("The intersection of two sets is empty")
else:
    print("The intersection of two sets is not empty")

The intersection of two sets is empty

42. Create a set of the first 5 Fibonacci numbers.

In [42]:
fibonacci_Set= set()
a,b=0,1

for i in range(6):
    fibonacci_Set.add(i)
    a,b= b,a+b

print("Set of first 5 Fibonacci numbers:", fibonacci_Set)

Set of first 5 Fibonacci numbers: {0, 1, 2, 3, 4, 5}

43. Remove duplicates from a list using sets.

In [44]:
list43 = [11,12,13,11,15,17,16,19,12]

set43= set(list43)
unique_list43= list(set43)

print("unique list:", unique_list43)

unique list: [11, 12, 13, 15, 16, 17, 19]

44. Check if two sets have the same elements, regardless of their count.

In [48]:
def if_same_ele(set1,set2):
    sorted1= sorted(list(set1))
    sorted2= sorted(list(set2))
    
    return sorted1==sorted2
    
set_441 ={1,2,3,4,5}
set_442 ={1,1,2,2,3,3,4,4,5,5}
    
result= if_same_ele(set_441,set_442)

if result:
    print("Sets have same elements")
else:
    print("Set have different elements")

Sets have same elements

45. Create a set of the first `n` powers of 2.

In [54]:
n = input("enter value of n:")

set_45 = set()

for i in range(int(n)):
    set_45.add(2**i)
    
print("First ",n,"powers of 2 are:", set_45)

enter value of n: 5

First  5 powers of 2 are: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [59]:
my_set45={1,2,3,4,5,6}
my_list45=[4,5,6,12,18]

list_to_set45= set(my_list45)

common_ele=[]

for elem in my_set45:
    if elem in list_to_set45:
        common_ele.append(elem)
        
print("common elements:",common_ele)

common elements: [4, 5, 6]

47. Create a set of the first `n` triangular numbers.

In [57]:
def generator_triangular(n):
    triangular_numbers = set()
    for i in range(1,n+1):
        number= int(i*(i+1)/2)
        triangular_numbers.add(number)
    return triangular_numbers

n = int(input("enter the value of n:"))

set47= generator_triangular(n)
print("The set of first ",n,"triangular numbers is:",set47)

enter the value of n: 5

The set of first  5 triangular numbers is: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [61]:
set481= {11,12,13,14,15}
set482={11,12}

is_subset = set482.issubset(set481)
if is_subset:
    print("Set 482 is subset of Set 481")
else:
    print("Set 482 is not a subset of Set 481")

Set 482 is subset of Set 481

49. Create a set of alternating 1s and 0s of length `n`.

In [62]:
n = int(input("Enter the value of n"))

def create_alt_Set(n):
    alternate_Set = set()
    for i in range(int(n)):
        if i%2==0:
            alternate_Set.add(1)
        else:
            alternate_Set.add(0)
    return alternate_Set

Final_set = create_alt_Set(n)
print("Final Alternate Set is:",Final_set)

Enter the value of n 10

Final Alternate Set is: {0, 1}

50. Merge multiple sets into one.

In [65]:
set501 ={1,2,3}
set502 ={4,5,6}
set503={7,8,9}

new_Set50= set501.union(set502,set503)


print("Merged set :",new_Set50)

Merged set : {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
}